* text=auto eol=lf
*.ico binary
*.png binary
*.gif binary
doctor/cheatpacks/* -text
doctor/cheatpacks/** -text
doctor/ref/3.0/*.j -text
doctor/ref/** linguist-vendored
doctor/cheatpacks/** linguist-vendored
